{% extends "base.html" %}
{% load static %}
{% block title %}
    Колокольчик: Важные письма
{% endblock %}

{% block content %}
    <div class="bell">
        <div class="bell-wrapper">
            <div class="bell-title">
                <h2>Важные письма</h2>
            </div>
            <div class="bell-info">
                <p>Для уведомления отправте POST-запрос на
                    адрес {{ request.scheme }}://{{ request.get_host }}/{{ bell.get_absolute_url_for_events }}</p>
                <p>Данные для отправки: <code>{"text": "Описание события"}</code></p>

            </div>
            <div class="bell-status not-ring">
                <audio class="bell-status__audio-player" src="{% static "bell_default.mp3" %}" loop="100"> </audio>
                <h3 class="bell-status__text"></h3>
                <button type="button" class="bell-status__read btn btn-danger center-block">Выключить</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        window.bell = {
            "last_event_url": "{{ bell.get_absolute_url }}events/last/",
            "read_events_url": "{{ bell.get_absolute_url }}events/read"
        };
    </script>
    <script src="{% static "bell.js" %}"></script>
{% endblock %}